<?xml version="1.0"?>

<robot>
    <!-- Head -->
    <transmission name="neck_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="neck_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="neck_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="head_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="head_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="head_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
</robot>
