<?xml version="1.0"?>

<robot>
    <!-- Lift Column -->
    <transmission name="column_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="inner_column_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="column_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
</robot>
